body {
  background-color: #fecea8;
  display: flex;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 8px;
}


.container {
  display: block;
  width: 560px;
  height:500px;
  box-sizing: border-box;
  background-color: black;
}

​.ustkisim{
  box-sizing: border-box;
  text-align: center;
  font-size: 5.5rem;
  color: #ffffff;
  background-color: #e84a5f;
}

​.logo {
  ​width: 540px;
  height: 100px ​
}

​.altkisim {
  padding: 10px;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  width: 560px;
  height: 560px;
  border-radius: 0 0 30px 30px;
  display: flex;
  ​
}

​.dortlukutu {
  float: left;
  display: block;
  width: 540px;
}

​.serviskutusu {
  width: 250px;
  height: 250px;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 10px;
  background-color: #ddd;

}

​.resimler {
  ​​width: 250px;
  height: 250px;
  border-radius: 30px;
  float: left;
  ​​
}
